@using ourWinch.Models.Dashboard;
@using ourWinch.Models;
@model X.PagedList.IPagedList<ServiceOrder>
@using X.PagedList.Mvc.Core
@using X.PagedList

<div class="container mt-5">
    <div class="heading" style="background-color: #C0D0D7; border-radius: 10px; display: block; padding: 10px 30px; text-align: center; font-weight: bold; font-size: 32px; margin: 90px auto 20px; width: fit-content;">Fulførte Servicer</div>

    <div class="table-responsive">
        @if (Model != null && Model.Any())
        {
            <table class="custom-table table table-bordered" style="font-size: 14px; max-width: 100%;">
                <thead style="background-color: #B9B9B9;">
                    <tr>
                        <!-- Daha okunaklı olması için sütun başlıkları için stil bilgilerini düzelttim. -->
                        <th class="bordered-th">OrderID</th>
                        <th class="bordered-th">Product Type</th>
                        <th class="bordered-th">Kunde</th>
                        <th class="bordered-th">Mottatt Dato</th>
                        <th class="bordered-th">Feilbeskriving</th>
                        <th class="bordered-th">Avtalt Levering</th>
                        <th class="bordered-th">Status</th>
                        <th class="bordered-th">Service Skjema</th>
                        <th class="bordered-th" style="border-right: none;">Timer</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Ordrenummer</td>
                            <td>@item.Produkttype</td>
                            <td>@item.Fornavn @item.Etternavn</td>
                            <td>@item.MottattDato.ToShortDateString()</td>
                            <td>@item.Feilbeskrivelse</td>
                            <td>@(item.MottattDato != null ? item.MottattDato.ToShortDateString() : "N/A")</td>
                            <td>Status</td>
                            <td>@(item.Servis ? "Yes" : "No")</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No service orders available.</p>
        }
    </div>
    <div class="pagination-container">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Dashboard", new { page }), new PagedListRenderOptions
        {
        LiElementClasses = new string[] { "pagination-item" },
        PageClasses = new string[] { "pagination-item" },
        LinkToPreviousPageFormat = "Previ",
        LinkToNextPageFormat = "Next"
        })
    </div>
</div>

<style>
    /* Sütun başlıkları için ortak stil bilgisi */
    .bordered-th {
        border-bottom: 2px solid #000;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
    }
</style>
