@model X.PagedList.IPagedList<ourWinchSist.Models.ServiceOrder>
    @using X.PagedList.Mvc.Core
    @using X.PagedList

    <div class="container mt-5">
        <div class="heading" style="background-color: #C0D0D7; border-radius: 10px; display: block; padding: 10px 30px; text-align: center; font-weight: bold; font-size: 32px; margin: 90px auto 20px; width: fit-content;">Fulførte Servicer</div>

        <div class="table-responsive">
            @if (Model != null && Model.Any())
        {
            <table class="custom-table table table-bordered max-width: 100%" style="font-size: 14px;">
                <thead style="background-color: #B9B9B9;">
                    <tr>
                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">OrderID</th>
                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Product Type</th>
                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Kunde</th>
                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Mottatt Dato</th>
                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Feilbeskriving</th>
                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Avtalt Levering</th>
                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Status</th>
                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-right: 2px solid #000;">Service Skjema</th>
                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000;">Timer</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
    {
                    <tr>
                        <td>@item.Ordrenummer</td>
                        <td>@item.Produkttype</td>
                        <td>@item.Fornavn @item.Etternavn</td>
                        <td>@item.MottattDato.ToShortDateString()</td>
                        <td>@item.Feilbeskrivelse</td>
                        <td>@(item.MottattDato != null ? item.MottattDato.ToShortDateString() : "N/A")</td>
                        <td>Status</td> <!-- "Status" sütunu "Status" olarak görüntülemek için -->
                        <td>@(item.Servis ? "Yes" : "No")</td> <!-- "Yes" veya "No" metinlerini "Servis" değerine göre görüntülemek için -->
                        <td></td> <!-- Zaman kısmı boş bırakıldı. -->
                    </tr>
    }
                </tbody>

            </table>
        }
        else
        {
            <p>No service orders available.</p>
        }
        </div>
        <div class="pagination-container">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Dashboard", new { page }), new PagedListRenderOptions
   {
       LiElementClasses = new string[] { "pagination-item" },
       PageClasses = new string[] { "pagination-item" },
       LinkToPreviousPageFormat = "Previ", // Önceki sayfa bağlantısı
       LinkToNextPageFormat = "Next" // Sonraki sayfa bağlantısı
   })

        </div>
