@model ElectroListViewModel

@if (ViewBag.Errors != null && ViewBag.Errors.Count > 0)
{

    <!--
        Displays error messages if there are any.
        ViewBag.Errors should contain a list of error messages.
    -->
<div class="alert alert-danger">
    <ul>
        @foreach (var error in ViewBag.Errors)
            {
        <li>@error</li>
            }
    </ul>
</div>
}
@if (ViewBag.SuccessMessage != null)
{
    <!--
        Shows a success message using SweetAlert.
        ViewBag.SuccessMessage should contain the success message.
    -->
<script>
        Swal.fire({
            title: 'Vellykket',
            text: '@ViewBag.SuccessMessage',
            icon: 'success',
            confirmButtonText: 'OK'
        });
</script>
}


<style>
    .form-button {
        background-color: #d17242;
        border-color: #d17242;
        color: white;
    }

        .form-button:hover,
        .form-button:focus,
        .form-button:active {
            background-color: #217520;
            border-color: #217520;
        }

    .active-button {
        background-color: #217520 !important;
        color: #FFFFFF !important;
    }

    .form {
        background-color: #bfd0d7;
        border-radius: 20px;
        padding: 10px;
    }

    i {
        border-radius: 50%;
    }

    .button-add-item:hover,
    .button-add-item:focus,
    .button-add-item:active {
        background-color: #217520;
        border-color: #217520;
    }

    .submit-button:hover,
    .submit-button:focus,
    .submit-button:active {
        background-color: #217520;
        border-color: #217520;
    }


    .button-add-item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d17242;
        border-color: #d17242;
    }

    .submit-button {
        background-color: #d17242;
        border-color: #d17242;
    }
</style>

<script>

    var someServiceOrderId = @Model.ServiceOrderId;
    var someCategory = "@ViewBag.ActiveButton";
</script>

<main class="dflex mx-auto mt-3">

    <!--************************* TABLE *****************************-->
    <div>
        <div class="container mt-2">

            <div class="row">
                <div class="col-md-4 border border-black p-1">
                    <strong>OrderID:</strong> @Model.Ordrenummer
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>ProduktType:</strong> @Model.Produkttype
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Arsmodell:</strong> @Model.Årsmodell
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 border border-black p-1">
                    <strong>Kunde Navn:</strong> @Model.Fornavn @Model.Etternavn
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Serie No:</strong> @Model.Serienummer
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Status: Prosess</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 border border-black p-1">
                    <strong>Mobil No:</strong> @Model.MobilNo
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Feilbeskrivelse:</strong> @Model.Feilbeskrivelse
                </div>
                <div class="col-md-4 border border-black p-1">
                    <strong>Kommentar fra kunde:</strong> @Model.KommentarFraKunde
                </div>
            </div>
        </div>

    </div>
    <section class="mt-3">
        <!--************************* BUTTONS  ******************************** -->
        <div class="container text-light">
            <div class="row">
                <div class="col-2 col-md-2 col-lg-2.4">
                    <a asp-controller="Mechanical" asp-action="Create" asp-route-serviceOrderId="@Model.ServiceOrderId" asp-route-category="Mechanical">
                        <button class="btn form-button @(ViewBag.ActiveButton == "Mechanical" ? "active-button" : "") w-100 p-3">Mekanisk</button>
                    </a>
                </div>
                <div class="col-2 col-md-2 col-lg-2.4">
                    <a asp-controller="Hydrolisk" asp-action="Create" asp-route-serviceOrderId="@Model.ServiceOrderId" asp-route-category="Hydrolisk">
                        <button class="btn form-button @(ViewBag.ActiveButton == "Hydrolisk" ? "active-button" : "") w-100 p-3">Hydrolisk</button>
                    </a>
                </div>
                <div class="col-2 col-md-2 col-lg-2.4">
                    <a asp-controller="Electro" asp-action="Create" asp-route-serviceOrderId="@Model.ServiceOrderId" asp-route-category="Electro">
                        <button class="btn form-button @(ViewBag.ActiveButton == "Electro" ? "active-button" : "") w-100 p-3">Elektro</button>
                    </a>
                </div>
                <div class="col-2 col-md-2 col-lg-2.4">
                    <a asp-controller="FunksjonsTest" asp-action="Create" asp-route-serviceOrderId="@Model.ServiceOrderId" asp-route-category="FunksjonsTest">
                        <button class="btn form-button @(ViewBag.ActiveButton == "FunksjonsTest" ? "active-button" : "") w-100 p-3">FunksjonsTest</button>
                    </a>
                </div>
                <div class="col-2 col-md-2 col-lg-2.4">
                    <a asp-controller="Trykk" asp-action="Create" asp-route-serviceOrderId="@Model.ServiceOrderId" asp-route-category="Trykk">
                        <button class="btn form-button @(ViewBag.ActiveButton == "Trykk" ? "active-button" : "") w-100 p-3">TrykkSettinger</button>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!-- ************************** Form for Electro ******************************* -->

    <div class="container mt-3" onclick="eventHandler(event)">

        <!-- Form 1 -->
        <form class="row form" id="formElectro" asp-controller="Electro" asp-action="Create" method="post">

            @Html.AntiForgeryToken()

            <h3 class="mx-auto">Elektro Sjekkliste</h3>
            <!-- Option 1 -->
            <div class="col-md-12 d-flex align-items-center">
                <div class="col-md-6">
                    <input type="hidden" name="Electros[0].ChecklistItem" value="Sjekk ledningsnett på vinsj">
                    <label for="option0">Sjekk ledningsnett på vinsj</label>
                </div>

                <!-- Radio Buttons -->
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Electros[0].OK" id="option0OK" value="true">
                        <label class="form-check-label" for="option0OK">OK</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Electros[0].BorSkiftes" id="option01BorSkiftes" value="true">
                        <label class="form-check-label" for="option01BorSkiftes">BorSkiftes</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Electros[0].Defekt" id="option02Defekt" value="true">
                        <label class="form-check-label" for="option02Defekt">Defekt</label>

                    </div>
                </div>

            </div>

            <!-- Option 2 -->
            <div class="col-md-12 d-flex align-items-center">
                <input type="hidden" name="Electros[1].ChecklistItem" value="Sjekk og test radio">
                <div class="col-md-6">
                    <label for="option1">Sjekk og test radio</label>
                </div>

                <!-- Radio Buttons -->
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Electros[1].OK" id="option1OK" value="true">
                        <label class="form-check-label" for="option1OK">OK</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Electros[1].BorSkiftes" id="option11BorSkiftes" value="true">
                        <label class="form-check-label" for="option11BorSkiftes">BorSkiftes</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Electros[1].Defekt" id="option12Defekt" value="true">
                        <label class="form-check-label" for="option12Defekt">Defekt</label>
                    </div>
                </div>
            </div>

            <!-- Option 3 -->
            <div class="col-md-12 d-flex align-items-center">
                <input type="hidden" name="Electros[2].ChecklistItem" value="Sjekk og test knappekasse">
                <div class="col-md-6">
                    <label for="option2">Sjekk og test knappekasse</label>
                </div>

                <!-- Radio Buttons -->
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Electros[2].OK" id="option2OK" value="true">
                        <label class="form-check-label" for="option2OK">OK</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Electros[2].BorSkiftes" id="option21BorSkiftes" value="true">
                        <label class="form-check-label" for="option21BorSkiftes">BorSkiftes</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Electros[2].Defekt" id="option22Defekt" value="true">
                        <label class="form-check-label" for="option22Defekt">Defekt</label>

                    </div>
                </div>

            </div>
            <div class="col-md-12 d-flex align-items-center" id="inputRow1">
                <div class="col-md-6" id="inputDiv1" style="display:none;">
                    <input type="text" id="userInput1" placeholder="Legg til en sjekkpunkt" class="form-control">
                </div>
                <button type="button" onclick="addItem('Electros')" class="button-add-item">
                    <i class="fa-solid fa-plus text-white"></i>
                </button>
            </div>
            <!--***************************Comment****************************-->
            <div class="form-floating col-12 mt-3">
                <textarea class="form-control w-100" placeholder="Skriv en kommentar" id="MechanicTextArea" name="Kommentar" style="height: 100px"></textarea>
                <label for="MechanicTextArea"></label>
            </div>
            <div class="col-12 text-center mt-3">
                <!-- Added text-center and mt-3 for spacing -->
                <button class="btn submit-button" type="submit">Lagre</button>
            </div>



        </form>
    </div>

    <!-- JavaScript -->

    <script>
        // Counter for dynamically generated items
        let counter = 3;
        // Function to add a new item to the form
        function addItem(formId) {
            let inputDiv;
            let userInputField;
            let inputRow;
            // Switch based on the formId to identify the correct elements
            switch (formId) {
                case 'Electros':
                    inputDiv = document.getElementById("inputDiv1");
                    userInputField = document.getElementById('userInput1');
                    inputRow = document.getElementById("inputRow1");
                    break;
                case 'form2':
                    inputDiv = document.getElementById("inputDiv2");
                    userInputField = document.getElementById('userInput2');
                    inputRow = document.getElementById("inputRow2");
                    break;
                case 'form3':
                    inputDiv = document.getElementById("inputDiv3");
                    userInputField = document.getElementById('userInput3');
                    inputRow = document.getElementById("inputRow3");
                    break;
                case 'form4':
                    inputDiv = document.getElementById("inputDiv4");
                    userInputField = document.getElementById('userInput4');
                    inputRow = document.getElementById("inputRow4");
                    break;
                case 'form5':
                    inputDiv = document.getElementById("inputDiv5");
                    userInputField = document.getElementById('userInput5');
                    inputRow = document.getElementById("inputRow5");
                    break;
            }

            inputDiv.style.display = "flex";
            let labelText = userInputField.value;
            if (labelText === '') return;

            // Create a new item with the given label and radio button options
            let newItem = document.createElement('div');
            newItem.classList.add('col-md-12', 'd-flex', 'align-items-center');

            newItem.innerHTML = `
                                    <div class="col-md-6">
                                                <input type="hidden" name="Electros[${counter}].ChecklistItem" value="${labelText}">
                                        <label style="word-wrap: break-word;max-width: 100%;" for=${labelText}>${labelText}</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Electros[${counter}].OK" value="true">
                                            <label class="form-check-label">OK</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Electros[${counter}].BorSkiftes" value="true">
                                            <label class="form-check-label">BorSkiftes</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Electros[${counter}].Defekt" value="true">
                                            <label class="form-check-label">Defekt</label>
                                        </div>
                                    </div>
                                `;
            // Insert the new item before the inputRow

            inputRow.parentNode.insertBefore(newItem, inputRow);
            userInputField.value = '';
            counter++;
        }
        // Event handler to log radio button selections
        const eventHandler = (event) => {
            if (event.target.type === 'radio') {
                console.log(event.target.value);
            }
        }
        // Function to set the active button class
        function setActive(button) {
            var buttons = document.querySelectorAll('.form-button');
            buttons.forEach(btn => btn.classList.remove('active'));
            button.classList.add('active');
        }
        // Form submission event listener
        document.getElementById('electros').addEventListener('submit', function (event) {
            if (!isFormSubmitted) {
                event.preventDefault();
                var inputs = this.querySelectorAll('input[type="text"], input[type="radio"]:checked, textarea');
                inputs.forEach(function (input) {
                    console.log(input.name + ": " + input.value);
                });

                // Modify the action URL based on someServiceOrderId and someCategory
                const actionUrl = `/Electros/Create/${someServiceOrderId}/${someCategory}`;

                this.setAttribute('action', actionUrl);
                isFormSubmitted = true;
                this.submit();
            }
        });
    </script>
</main>
