@using ourWinch.Models.Dashboard;
@model IEnumerable<ServiceOrder>


@{
    ViewData["Title"] = "Active Services";
    ViewBag.Title = "Aktive Servicer";
    var totalPages = ViewBag.TotalPages;
    var currentPage = ViewBag.CurrentPage;
}

    @{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
    }
    @{
var SuccessMessage = ViewBag.SuccessMessage;
var LoginSuccessMessage = ViewBag.LoginSuccessMessage;
    }
    @if (LoginSuccessMessage != null)
{
    <script>

         Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: '@ViewBag.LoginSuccessMessage',
            showConfirmButton: false,
            timer: 3000
        });
    </script>
}
    @if (SuccessMessage != null)
{
    <script>

        Swal.fire({
            title: 'Vellykket',
            text: '@SuccessMessage',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
}

    <style>
        /* Pagination styling */
        .pagination-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination-link {
            display: inline-block;
            padding: 5px 10px;
            margin: 0 5px;
            border: 1px solid #ddd;
            text-decoration: none;
            color: #333;
        }

        .active-page {
            padding: 5px 10px;
            margin: 0 5px;
            background-color: #007bff;
            color: white;
            border: 1px solid #007bff;
        }

        /* Hover effect for pagination links */
        .pagination-link:hover {
            background-color: #007bff;
            color: white;
        }

        .heading {
            background-color: #C0D0D7;
            border-radius: 10px;
            display: block;
            padding: 10px 30px;
            text-align: center;
            font-weight: bold;
            font-size: 32px;
            margin: 10px auto;
            max-width: 330px;
            
        }
        .search-wrapper form {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .search-wrapper input,
        .search-wrapper button {
            margin-left: 5px; /* You can adjust the desired range */
        }
    </style>

   
        <div class="row align-items-center mb-1 mt-5 ">

            <div class="col-12 col-lg-9 heading">Aktive Servicer</div>

            <div class="col-12 col-lg-3">
                <div class="search-wrapper">
                    <form method="get">
                        <input type="search" name="query" placeholder="Søk på navn" class="mr-2 p-1" />
                        <button type="submit" class="btn btn-primary p-2">Søk</button>
                    </form>
                </div>
            </div>
            <!-- Other content can be placed on the right side -->

        </div>   
        
       <div class="table-responsive">

                @if (Model != null && Model.Any())

             {
                <table class="table table-bordered text-center">
                    <thead style="background-color: #B9B9B9;">
                        <tr>
                            <th style="border: 2px solid #000;">OrderID</th>
                            <th style="border: 2px solid #000;">Product Type</th>
                            <th style="border: 2px solid #000;">Kunde</th>
                            <th style="border: 2px solid #000;">Mottatt Dato</th>
                            <th style="border: 2px solid #000;">Feilbeskriving</th>
                            <th style="border: 2px solid #000;">Avtalt Levering</th>
                            <th style="border: 2px solid #000;">Status</th>
                            <th style="border: 2px solid #000;">Service Skjema</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var item in Model)
                            {
                        <tr data-orderid="@item.Ordrenummer" data-kunde="@item.Fornavn @item.Etternavn" data-dato="@item.MottattDato">
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.Ordrenummer</a>
                                    <div class="dropdown-menu">
                                            <a class="dropdown-item @(currentController == "Mechanical" && currentAction == "Create" ? "active-link" : "")"
                                               asp-controller="Mechanical" asp-action="Create" asp-route-serviceOrderId="@item.ServiceOrderId" asp-route-category="Mechanical">Mechanical</a>

                                            <a class="dropdown-item @(currentController == "Hydrolisk" && currentAction == "Create" ? "active-link" : "")"
                                               asp-controller="Hydrolisk" asp-action="Create" asp-route-serviceOrderId="@item.ServiceOrderId" asp-route-category="Hydrolisk">Hydrolisk</a>

                                            <a class="dropdown-item @(currentController == "Electro" && currentAction == "Create" ? "active-link" : "")"
                                               asp-controller="Electro" asp-action="Create" asp-route-serviceOrderId="@item.ServiceOrderId" asp-route-category="Electro">Electro</a>

                                            <a class="dropdown-item @(currentController == "FunksjonsTest" && currentAction == "Create" ? "active-link" : "")"
                                               asp-controller="FunksjonsTest" asp-action="Create" asp-route-serviceOrderId="@item.ServiceOrderId" asp-route-category="FunksjonsTest">FunksjonsTest</a>

                                            <a class="dropdown-item @(currentController == "Trykk" && currentAction == "Create" ? "active-link" : "")"
                                               asp-controller="Trykk" asp-action="Create" asp-route-serviceOrderId="@item.ServiceOrderId" asp-route-category="Trykk">Trykk</a>

                                    </div>
                                </div>
                            </td>


                            <td>@item.Produkttype</td>
                            <td>@item.Fornavn @item.Etternavn</td>
                            <td>@item.MottattDato.ToShortDateString()</td>
                            <td>@item.Feilbeskrivelse</td>
                             <td>@(item.MottattDato != null ? item.MottattDato.AddDays(7).ToShortDateString() : "N/A")</td>

                            <td>@item.Status</td>
                            <td>
                                @if (@item.ServiceSkjema == "Ja")
                                {
                                <a href="@Url.Action("Index", "ServiceSkjema", new { id = @item.ServiceOrderId })">@item.ServiceSkjema</a>
                                }
                                else
                                {
                                @item.ServiceSkjema
                                }
                            </td>
                        </tr>
                                           }
                    </tbody>
                </table>
                              }
                              else
                              {
                <p>No service orders available.</p>
                              }
            </div>

            <!-- Pagination -->
            @if (totalPages > 1)
    {
            <div class="pagination-wrapper">
                @for (var i = 1; i <= totalPages; i++)
            {
                if (i == currentPage)
                {
                <span class="active-page">@i</span>
                }
                else
                {
                <a class="pagination-link" href="@Url.Action("Index", "Dashboard", new { page = i })">@i</a>
                }
            }
            </div>
    }

