@using Microsoft.AspNetCore.Identity
@using ourWinch.Models.Account
@using System.Security.Claims

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser user = null;
    bool isAdmin = false; 

    if (SignInManager.IsSignedIn(User))
    {
        user = await UserManager.GetUserAsync(User);
        isAdmin = await UserManager.IsInRoleAsync(user, "Admin"); 
    }
}



<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.min.css " rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/2368a3baef.js" crossorigin="anonymous"></script>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="~/css/Dashboard/completed.css" />
    <link rel="stylesheet" href="~/css/ServiceOrder/checklist.css" />
    <link rel="icon" type="image/png" href="~/img/logo.png" />

    <title>@(ViewBag.Title) </title>

</head>
<body>
                                                                        <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark m-0 p-0 text-light  ">
        <div class="container-fluid ">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
                <img src="/img/nøsted1.png" alt="nøsted Logo" style="border-radius: 10px; max-height: 40px;">
            </a>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse " id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <!-- Optionally, you can add navbar items here -->
                    <!--   <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->

                </ul>

                <!-- User Info & Logout -->
                
                <ul class="user-icon-name d-flex justify-content-center mr-3 ">
                    <i class="fas fa-user" style="margin-top: 20px;"></i>                   
                    @if (SignInManager.IsSignedIn(User))
            {
                    <span class=" user-name mt-3 ml-2">@($"{user?.Fornavn} {user?.Etternavn}")</span>
            }
                </ul>
                <ul class="d-flex justify-content-center">

                    <form id="logoutForm" method="post" class="form-inline mt-3" asp-controller="Account" asp-action="Logout">

                        <div class="logout-button">
                            <button type="submit" class="text-light border-0 bg-transparent" style="font-weight: bold;">Logg ut</button>

                        </div>
                   </form>   
                </ul>
            </div>
        </div>
    </nav>
                                                                        <!-- Sidebar Section -->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar width:250px">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column mb-3" style="list-style-type: none; padding-left: 0;">
                        <li class="nav-item my-3" style="border-top: 1px solid #728791; border-bottom: 1px solid #728791;">
                            <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                <i class="fas fa-home"></i> Hjem
                            </a>
                        <li class="nav-item mt-3">
                            <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                <i class="fas fa-cog"></i> Aktive Servicer
                            </a>
                        </li>
                        <li class="nav-item mt-3">
                            <a asp-controller="CompletedService" asp-action="Index" class="nav-link">
                                <i class="fas fa-check-circle"></i> Fulførte Servicer
                            </a>
                        </li>

                        <li class="nav-item mt-3">
                            <a asp-controller="ServiceOrder" asp-action="NewService" class="nav-link">
                                <i class="fas fa-pen"></i> Ny service
                            </a>
                        </li>

                        @if(isAdmin){
                        <li class="nav-item mt-3">
                            <!-- "Rapporter" -->
                            <a asp-controller="Reports" asp-action="Dashboard" data-bs-toggle="collapse" data-bs-target="#kunderSubmenu" class="nav-link">
                                <i class="fa fa-bar-chart"></i> Rapporter
                            </a>

                            <!-- "Kunder" submenu -->
                                <ul id="kunderSubmenu" class="collapse list-unstyled">
                                <li class="nav-item mt-3 ps-4">
                                    <a asp-controller="Customers" asp-action="Dashboard" class="nav-link">
                                        <i class="fa fa-address-card"></i> Kunder
                                    </a>
                                </li>
                                <li class="nav-item mt-3 ps-4">
                                    <a asp-controller="ServiceType" asp-action="Dashboard" class="nav-link">
                                        <i class="fa fa-filter"></i> Tjenestetype
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }

                        @if(isAdmin){

                            <!-- "Brukeroperasjoner" link -->

                            <li class="nav-item mt-3">
                                <a href="#brukerSubmenu" data-bs-toggle="collapse" data-bs-target="#brukerSubmenu" class="nav-link">
                                    <i class="fas fa-users-cog"></i> Brukeroperasjoner
                                </a>
                                <!-- "Brukeroperasjoner" submenu (default is closed) -->
                                <ul id="brukerSubmenu" class="collapse list-unstyled">
                                    <li class="nav-item mt-3 ps-4">
                                        <a asp-controller="Account" asp-action="Register" class="nav-link @((ViewContext.RouteData.Values["Controller"].ToString() == "Account" && ViewContext.RouteData.Values["Action"].ToString() == "Register") ? "active" : "")">
                                            <i class="fas fa-user-plus"></i> Registrering
                                        </a>
                                    </li>
                                    <li class="nav-item mt-3 ps-4">
                                        <a asp-controller="User" asp-action="Index" class="nav-link">
                                            <i class="fas fa-users"></i> Brukere
                                        </a>
                                    </li>
                                    <li class="nav-item mt-3 ps-4">
                                        <a asp-controller="Roles" asp-action="Index" class="nav-link">
                                            <i class="fas fa-users"></i> Roller
                                        </a>
                                    </li>
                                </ul>
                            </li>
                

                    }


                    </ul>
                </div>
            </nav>


        <div class="col-md-10 p-3">
          
                @await Component.InvokeAsync("Notyf")
            @RenderBody()

        </div>
    </div>




@RenderSection("Scripts", required: false)

 
</body>

</html>
<script>
    /**
     * <summary>
     * Adjusts the top margin of the main content panel based on the navbar's collapsed or expanded state.
     * </summary>
     *
     * <functionality>
     * - Listens for the 'DOMContentLoaded' event to ensure the DOM is fully loaded before executing.
     * - Selects the navbar toggler button and the main content panel.
     * - Adds a 'click' event listener to the navbar toggler.
     * - Checks the state of the navbar (collapsed or expanded) on each click.
     * - Adjusts the top margin of the content panel: sets to 0px if navbar is expanded, or to 90px if collapsed.
     * </functionality>
     *
     * <usage>
     * - Enhances webpage responsiveness and visual appearance, especially on smaller screens.
     * - Prevents content panel overlap with an expanded navbar, maintaining UI integrity and usability.
     * </usage>
     */
    document.addEventListener("DOMContentLoaded", function () {
        var navbarToggler = document.querySelector('.navbar-toggler');
        var contentPanel = document.querySelector('.render-body');

        navbarToggler.addEventListener('click', function () {
            var navbarCollapsed = document.querySelector('.navbar-collapse').classList.contains('show');

            if (navbarCollapsed) {
                
                contentPanel.style.marginTop = '0px'; // Remove margin when Navbar is closed
            } else {
                
                contentPanel.style.marginTop = '90px'; // Margin value that will push down the content when the Navbar is open
            }
        });
    });

</script>
